$br-sm: 576px;
$br-md: 768px;
$br-lg: 992px;
$br-xl: 1200px;
$br-xxl: 1400px;

$transparent: rgba(0, 0, 255, 0);
// 7.41
$t-p-height: 126px;
$p-my: 10px;
$p-my-ns: 15px;
$p-1-mt: 12px;
$input-w: 4.5rem;


$item-height: 18px;
$mt-p-i-1: 8px;
$mt-p-i-2: 10px;

$p-ml: 0.8em;


// TOTAL POINT AND POINT DIFFRENTIAL MARGIN 
$t-p-p-m: 1.5em 0.5em;
// PLAYER WITHOUT NET (POINT- POINT DIFFRENTIAL)
$p-w-n-my: 1.2em;